body {
    font-family: 'Courier New', Courier, monospace;
}

/* Carousel */

.carousel-item {
    overflow: initial;
}

.carousel-2 {
    overflow: visible;
   width: 100%;
   height: 53px;
}

/* Containers*/

.container-wrapper {
    background-color: rgb(212, 212, 216);
}

.text-uppercase h2 {
    text-decoration-color: #d8d6d6
}

/* Callout */

.callout-container {
        background-color: #81b8ee;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 6px 12px rgba (0, 0, 0, 0.1);     

}

.callout-container p.lead {
        font-size: 1.25rem;
}

.callout-container .btn-success:hover {
    background-color: #1be31f;
    border-color: #e31b4a; 
}

/* Navbar */

.navbar-brand {
    margin-bottom: 0;
    width: 100%;
    background-color: #81b8ee;
    border: 0;
    text-align: center;
}

#navbarNav {
    background-color: #81b8ee;
}

.dropdown-item {
    background-color: #27e988;
}

/* Testimonials */

.testimonials {
    text-align: center;
    background-color: rgb(189, 186, 186);
}

.media-body {
    text-align: center;
    margin: 10px;
    background-color: black;
    color: white;
}

/* Coffee-Sessions */

.coffee-session {
    background-color: #f8f9fa;
}

.coffee-session h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: grey;
}

.coffee-session .form-control {
    margin-bottom: 20px;
}

.coffee-session p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: grey;
}

/* Media queries */

@media (max-width: 768px) {
    .callout-container {
        font-size: 1rem;
        padding: 10px;
    }
}
